@model List<Reserva>
@{
    ViewBag.Title = "ReporteReservas";
    Layout = "~/Views/Shared/_LayoutRestaurante.cshtml";
}
<br />
<div class="thumbnail row">
    <h4 class="col-md-7">Reporte de Reservas</h4>
    <div class="col-lg-5">
        <form class="form-inline" name="FiltroReservas" method="post" action="ReporteReservas">
            <div class="form-group">
                <label>Filtro por Fecha:</label>
            </div>
            <div class="form-group mx-sm-3">
                <input type="date" class="form-control-plaintext" name="FFiltro" id="FFiltro" />
            </div>
            <button class="btn btn-primary" type="submit" value="Buscar"><span class="glyphicon glyphicon-filter"></span>Filtrar</button>
        </form>
    </div>
</div>


<br />

<div class="thumbnail">
    <table class="table table-bordered table-responsive">
        <thead>
            <tr>
                <th>Codigo de Reserva</th>
                <th>Usuario</th>
                <th>Fecha</th>
                <th>Observaciones</th>
                <th>Confirmar/Cancelar</th>
                <th>Pagado</th>
             </tr>
        </thead>
        <tbody>
        @foreach (Reserva item in Model) { 
            <tr>
                <th>@item.CodigoReserva</th>
                <th>@item.ClienteId</th>
                <th>@item.FechaHoraReserva</th>
                <th>@item.Observaciones</th>
                <th><a href="~/Usuario/Delete/@item.Id" class="btn btn-success">Aprobar</a>/<a href="~/Usuario/Delete/@item.Id" class="btn btn-danger">Cancelar</a></th>
                <th><a href="~/Usuario/Delete/@item.Id" class="btn btn-primary">Pagado</a></th>
            </tr>
        }</tbody>
    </table>
</div>