@using ReservAntes.ViewModels
@model   HorariosReservaViewModel
@{
    ViewBag.Title = "HorariosReserva";
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
}
 
<h2>Verificar disponibilidad</h2>
@using (Html.BeginForm("HorariosReserva", "Cliente", FormMethod.Post))
{
    @Html.HiddenFor(u => u.RestoId)

   @Html.DropDownListFor(u => u.hora, new SelectList(Model.Horarios), "Hora", new { @class = "form-control" })
    <button type="submit" class="btn btn-primary">Reservar</button>

}
