
@{
    ViewBag.Title = "HorariosReserva";
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
}

<h2>HorariosReserva</h2>


"PLATO QUE EL CLIENTE ELIGIO" -------------->

<select>
    <option value="900">9:00</option>
    <option value="1000">10:00</option>
    <option value="1100">11:00</option>
    <option value="1200">12:00</option>
    <option value="1300">13:00</option>
    <option value="1400">14:00</option>
    <option value="1500">15:00</option>
    <option value="1600">16:00</option>
    <option value="1700">17:00</option>
    <option value="1800">18:00</option>
    <option value="1900">19:00</option>
    <option value="2000">20:00</option>
    <option value="2100">21:00</option>
    <option value="2200">22:00</option>
    <option value="2300">23:00</option>
</select>

<button onclick="location.href='@Url.Action()';return false;" class="btn btn-primary">Continar</button>
<button onclick="location.href='@Url.Action("Index", "Cliente")';return false;" class="btn btn-danger">Cancelar</button>
