
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="row">

    @if (Session["usuarioTipo"].ToString() != String.Empty)
    {

        <p>tipo de usuario: </p>
        @Session["usuarioTipo"].ToString();
        <br>
        <p>ID de usuario: </p>
        @Session["usuarioId"].ToString();
        <br>
        <p>nombre de usuario: </p>
        @Session["usuarioNombre"].ToString();

    }
</div>

