
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";

}
<body onload="inicialar()">
    <div class="row">

        @if (Session["usuarioTipo"] != null)
        {

            <p>tipo de usuario: </p>
            @Session["usuarioTipo"].ToString();
            <br>
            <p>ID de usuario: </p>
            @Session["usuarioId"].ToString();
            <br>
            <p>nombre de usuario: </p>
            @Session["usuarioNombre"].ToString();

        }
    </div>


    <style>
        #map-canvas {
            width: 100%;
            height: 400px;
            background-color: grey;
            border:solid 1px;
        }


    </style>

    <div class="jumbotron">


        <input id="pac-input" class="form-control" type="text" placeholder="Buscar Restaurante por direccion">
  
        <br />

        <div class="row">
            <div id="map-canvas"></div>
        </div>

    </div>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAptrGun-vHjygAsSermQUGiDvxOGQ_qJ8&libraries=places&callback=inicialar" async defer> </script>
      </body>