
@{
    ViewBag.Title = "MailEnviado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="thumbnail">
    <div class="row">

        <div class="col-lg-4"></div>
        <div class="col-lg-5">
            <h4 class="center-block">Your message has been sent</h4>
            <div class="btn btn-primary">@Html.ActionLink("Volver al Inicio", "Index", "Home")</div>
        </div>
    </div>
</div>
