@model ReservAntes.Menu
@{
    ViewBag.Title = "CreateMenu";
    Layout = "~/Views/Shared/_LayoutRestaurante.cshtml";
}

<h2>Nuevo Menu</h2>
<div class="jumbotron">
    <div class="row">
        <div class="col-md-4"></div>
        @using (Html.BeginForm("CreateMenu", "Restaurante", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.ValidationSummary(true)
            <div class="form-group col-md-4">

                <div class="form-group">
                    <label>Descripcion:</label>
                    @Html.TextAreaFor(m => m.Descripcion, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Descripcion, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label>Tipo de Menu:</label>
                        @Html.DropDownList("EstiloMenuId", new SelectList(ViewBag.ListTiposMenus, "Id", "Descripcion"), new { @class = "form-control" })

                </div>
               <p></p>
                <div><input type="submit" value="Crear" class="btn btn-info" /></div>

            </div>



        }

    </div>
</div>