@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutRestaurante.cshtml";
}
                    

<p>Desde aquí podrá gestionar sus datos personales y ver las reservas de sus clientes</p>