@model List<Reserva>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutRestaurante.cshtml";
}
                    
<br />
<div class="thumbnail"><h4> Reservas de Hoy</h4></div>
<br />

<div>
    <div class="thumbnail">
        <table class="table table-bordered table-responsive table-striped">
            <thead>
                <tr>
                    <th>Codigo de Reserva</th>
                    <th>Usuario</th>
                    <th>Fecha</th>
                    <th>Observaciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Reserva item in Model)
                {
                    <tr>
                        <th>@item.CodigoReserva</th>
                        <th>@item.ClienteId</th>
                        <th>@item.FechaHoraReserva</th>
                        <th>@item.Observaciones</th>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>