
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="thumbnail">
    <h2>Cantidad de USUARIOS Registrados Actualmente:<strong>@ViewData["CantUsuarios"]</strong></h2>
</div>

