@model List<Cliente>
@{
    ViewBag.Title = "VerClientes";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Listado Total de Clientes</h2>

<div class="table-responsive jumbotron">
    <table class="table">
        <thead class="table-bordered">
            <tr>
                <td>ID</td>
                <td>Nombre</td>
                <td>Apellido</td>
            </tr>
        </thead>
        @foreach (Cliente item in Model)
        {
            <tr>
                <td>@item.IdUsuario</td>
                <td>@item.Nombre</td>
                <td>@item.Apellido</td>
            </tr>
        }
        <tbody></tbody>

    </table>
</div>