@model List<Restaurante>
@{
    ViewBag.Title = "Ver restaurantes";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="table-responsive jumbotron">
    <table class="table table-hover">
        <thead class="table-bordered">
            <tr>
                <th>Restaurante</th>
                <th>Estado</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var resto in Model)
            {
                String estado = "";
                if (resto.Habilitado) {
                    estado = "Habilitado";
                } else {
                    estado = "NO habilitado";
                }

                <tr>
                    <td>@resto.NombreComercial</td>
                    <td>@estado</td>
                    <td>
                        @if (resto.Habilitado)
                        {
                            <a href="@Url.Action("SuspenderRestaurante","Admin", new { idResto = resto.IdRestaurante })" class="btn btn-success">Suspender</a>
                        }
                        else
                        {
                            <a href="@Url.Action("HabilitarRestaurante","Admin", new { idResto = resto.IdRestaurante })" class="btn btn-success">Habilitar</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>