<div class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <div class="navbar-brand">
                <span class="glyphicon glyphicon-th"></span>
                <button onclick="location.href='@Url.Action("Index","Cliente")'; return false;" class="btn btn-default">Inicio</button>
                <button onclick="location.href='@Url.Action("DetalleCliente","Cliente")'; return false;" class="btn btn-default">Mi Perfil</button>
                <button onclick="location.href='@Url.Action("ReservCliente","Cliente")'; return false;" class="btn btn-default">Mis Reservas</button>
                <button onclick="location.href='@Url.Action("EditCliente","Cliente")'; return false;" class="btn btn-default">Editar Perfil</button>
            </div>
        </div>
    </div>
</div>