/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/** Layout **/
.alturaMinimaDeSecciones {
    min-height: 500px;
}
#menuPrincipal {
    background-color: #FFFFFF;
}

#mibarrita ul li {
    height: 61px;
}

#mibarrita ul li:hover {
    background-color: #fa2a2a;
    color: #fa2a2a;
}
#mibarrita ul li a {
    font-size: 18px;
    font-family: font-family, 'Oxygen', sans-serif;
    color: #fa2a2a !important;
    padding-top: 20px;
}

    #mibarrita ul li a:hover {
        font-size: 18px;
        font-family: font-family, 'Oxygen', sans-serif;
        color: #FFFFFF !important;
    }

.navbar{
    margin-bottom: 0px;
}


@media only screen and (max-width: 768px) {
    #menuPrincipal img {
        max-height: 50px;
    }

    #mibarrita ul li {
        height: 45px;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #FFFFFF;
    }

    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        background-color: #FFFFFF;
        border: 1px solid #FFFFFF;
    }
    .navbar-default .navbar-toggle .icon-bar:hover {
        background-color: #FFFFFF;
    }
}


/** footer **/
footer{
    background-color: #383838;
    color: #FFFFFF;
    text-align: center;
    min-height: 70px;
}

/** LOGIN **/
#contenedorLogin{
    min-height: 500px;
}

#contenedorLogin .row{
    padding-top: 100px;
}

@media only screen and (max-width: 768px){
    #contenedorLogin {
        min-height: 400px;
    }

        #contenedorLogin .row {
            padding-top: 100px;
        }
}

/** registro **/
.btn-info {
    background-color: #fa2a2a;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
}
.btn-info:hover {
    background-color: #FFFFFF;
    color: #fa2a2a;
    border: 1px solid #fa2a2a;
}



.slogan {
    font-size: 14px;
    font-family: font-family, 'Oxygen', sans-serif;
    margin:20px 0 0 20px;
}



/*MAPA DE HOME*/
#map {
    height: 100%;
}
/* Optional: Makes the sample page fill the window. */


