/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/** Layout **/
body {
    background-color: #da1212 !important;
}

label{
    font-family: 'Raleway';
    font-size: 16px;
    color: #000000;
    font-weight: 500;
}

input[type="text"], input[type="password"], select{
    border: 1px solid #808080 !important;
    border-radius: 0px !important;
    width: 100%;
}

.jumbotron {
    background-color: #ffffff !important;
}

.alturaMinimaDeSecciones {
    min-height: 500px;
}
#menuPrincipal {
    background-color: #FFFFFF;
}

#mibarrita ul li {
    height: 61px;
}

    #mibarrita ul li:hover {
        background-color: #da1212;
        color: #da1212;
    }
    #mibarrita ul li a {
        font-size: 18px;
        font-family: font-family, 'Oxygen', sans-serif;
        color: #da1212 !important;
        padding-top: 20px;
    }

    #mibarrita ul li a:hover {
        font-size: 18px;
        font-family: font-family, 'Oxygen', sans-serif;
        color: #FFFFFF !important;
    }

.navbar{
    margin-bottom: 0px;
}

#menuPrincipal a img{
    max-height: 50px;
}

#menuPrincipal .navbar-header button {
    width: 42px;
    height: 36px;
}

@media only screen and (max-width: 768px) {
    #menuPrincipal img {
        max-height: 50px;
    }

    #mibarrita ul li {
        height: 45px;
    }

    .navbar-default .navbar-toggle {
        border: 1px solid #da1212;
    }

        .navbar-default .navbar-toggle .icon-bar {
            background-color: #da1212;
        }

        .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
            background-color: #FFFFFF;
            border: 1px solid #da1212;
        }
        .navbar-default .navbar-toggle .icon-bar:hover {
            background-color: #da1212;
        }
}


/** footer **/
footer{
    background-color: #383838;
    color: #FFFFFF;
    text-align: center;
    min-height: 70px;
}

    footer h6 {
        font-family: 'Raleway';
        font-size: 14px;
        color: #FFFFFF;
    }

/** LOGIN **/
#contenedorLogin{
    min-height: 500px;
}

#contenedorLogin .row{
    padding-top: 100px;
}

@media only screen and (max-width: 768px){
    #contenedorLogin {
        min-height: 400px;
    }

        #contenedorLogin .row {
            padding-top: 100px;
        }
}

/** registro **/
.btn-info {
    background-color: #da1212;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
}
    .btn-info:hover {
        background-color: #FFFFFF;
        color: #da1212;
        border: 1px solid #da1212;
    }



.slogan {
    font-size: 14px;
    font-family: font-family, 'Oxygen', sans-serif;
    margin:20px 0px 0px 0px;
    height: 15px !important;
}

.slogan:hover {
    background-color: transparent !important;
    color: #000000 !important;
}

/** BOTONES **/
.btn-rojo {
    background-color: #FFFFFF;
    border-radius: 0px;
    border: 1px solid #da1212;
    color: #da1212;
    font-family: 'Raleway';
}

    .btn-rojo:hover, .btn-rojo:focus, .btn-rojo::selection, .btn-rojo:active, .btn:link, .btn:visited {
        background-color: #FFFFFF;
        border-radius: 0px;
        border: 1px solid #da1212;
        color: #da1212;
        font-family: 'Raleway';
    }

.btn-verde {
    background-color: #FFFFFF;
    border-radius: 0px;
    border: 1px solid #006600;
    color: #006600;
    font-family: 'Raleway';
}

    .btn-verde:hover, .btn-verde:focus, .btn-verde::selection, .btn-verde:active {
        background-color: #FFFFFF;
        border-radius: 0px;
        border: 1px solid #006600;
        color: #006600;
        font-family: 'Raleway';
    }

.btn-gris {
    background-color: #FFFFFF;
    border-radius: 0px;
    border: 1px solid #606060;
    color: #606060;
    font-family: 'Raleway';
}

    .btn-gris:hover, .btn-gris:focus, .btn-gris::selection, .btn-gris:active {
        background-color: #FFFFFF;
        border-radius: 0px;
        border: 1px solid #606060;
        color: #606060;
        font-family: 'Raleway';
    }


#barraAdministracion ul li{
    text-align: center;
}
#barraAdministracion button{
    width: 130px;
    margin-top: 8px;
    margin-right: 10px;
}

.navbar-header label{
    margin-top: 15px;
    margin-left: 10px;
}

@media only screen and (max-width: 768px) {
    #barraAdministracion button {
        width: 100%;
        margin-right: 0px;
    }
}


/* Grafico de ocupacion del restaurante */
.sillaOcupada{
    height: 15px;
    background-color: #da1212;
    margin-right: 5px;
    margin-bottom: 5px;
}

.sillaLibre {
    height: 15px;
    background-color: darkgreen;
    margin-right: 5px;
    margin-bottom: 5px;
}

/*MAPA DE HOME*/
#map {
    height: 100%;
}
/* Optional: Makes the sample page fill the window. */


