@using ReservAntes.ViewModels
@model  ReservaViewModel
@{
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
}


<h2 class="thumbnail">Confirmar Reserva @Model.restauranteNombre</h2>

<h4>Su código de reserva es @Model.CodigoReserva</h4>
<button onclick="location.href='@Url.Action("Index", "Cliente")';return false;" class="btn btn-success">Volver al Inicio</button>

    @*<div>
        @Html.ActionLink("Confirmar Reserva", "ConfirmaReserva", "Cliente", Model, new { @class = "btn btn-default btn-success btn-lg btn-block" })
    </div>*@
    @*<button type="submit" class="btn btn-primary">Reservar</button>*@

