@model ReservAntes.Cliente
@{
    ViewBag.Title = "CompletarCliente";
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
}

<h2>Completar datos</h2>

<div>

    <h4>Para poder continuar con el registro debe completar los siguientes datos:</h4>
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-6">

                @using (Html.BeginForm("DetalleCliente", "Cliente"))
            {
                    <div class="form-group">
                        <label>Nombres :</label>
                        @Html.TextBoxFor(Model => Model.Nombre, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>Apellido:</label>
                        @Html.TextBoxFor(Model => Model.Apellido, new { @class = "form-control" })
                    </div>
                    @*<div class="form-group">
                        <label>Domicilio:</label>
                        @Html.TextBoxFor(Model => Model.Domicilio, new { @class = "form-control" })
                    </div>*@


                    <button type="submit" class="btn btn-primary">Ingresar</button>
                    <button onclick="location.href='@Url.Action("Index", "Cliente")';return false;" class="btn btn-danger">Cancelar</button>
                }
            </div>
        </div>
    </div>


</div>