@using ReservAntes.ViewModels
@model List<RestauranteViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
}


<h4 class="breadcrumb">Restaurantes disponibles cerca tuyo</h4>

