
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
}


    <h2>Index</h2>

<h4>Restaurantes disponibles en la zona:</h4>
    <table>
        <thead>
            <tr>
            <td>Establecimiento</td>
                <td>Direccion</td>
                <td>Foto</td>
                <td><a href="">VerMenu</a></td>

            </tr>
        </thead>

    </table>