
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
}

@Html.Partial("_PartialViewRestaurante")

<html>
      <head><title>Registro Restaurante</title></head>
<body>
    <h2>Index</h2>

    <table>
        <thead>
            <tr>
            <td>Establecimiento</td>
                <td>Direccion</td>
                <td>Foto</td>
                <td><a href="">VerMenu</a></td>

            </tr>
        </thead>

    </table>

</body>
</html>