@model List<Restaurante>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
}


    <h2>Index</h2>

<h4>Restaurantes disponibles en la zona:</h4>
    <table>
        <thead>
            <tr>
            <td>Establecimiento</td>
                <td>Direccion</td>
                <td>VerMenu</td>

            </tr>
        </thead>

        <tbody>
            @foreach (var resto in Model)
            {
            <tr>
                <td>@resto.Usuario.Username</td>
                <td>@resto.Domicilio.NombreCalle @resto.Domicilio.NumeroCalle</td>
                <td><a href="" class="btn btn-info btn-xs">VerMenu</a></td>
            </tr>
            }
        </tbody>

    </table>