@{
    ViewBag.Title = "PagarReserva";
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
}

<h2>Pagar Reserva</h2>
@ViewBag.LinkMP

<a href="@ViewBag.LinkMP" class="btn btn-default">Pagar</a>

@ViewBag.LinkMP