

@{
    ViewBag.Title = "ReservCliente";
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
}


<h2>ReservCliente</h2>


@*<a href="<% Response.Write(preference[" response"]["init_point"]); %>">Pagar</a>*@

