
@{
    ViewBag.Title = "CreateUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Nuevo Usuario</h2>

<div class="jumbotron">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="form-group col-md-4">
            <div>Nombre de Usuario:</div><div><input class="form-control" type="text" /></div>
            <div>Contraseña:</div><div><input class="form-control" type="password" /></div>
            <div>Repita Contraseña:</div><div><input class="form-control" type="password" /></div>
            <div>Email:</div><div><input class="form-control" type="email" /></div>

            <p></p>
            <div><input type="submit" value="Registrarse" class="btn btn-info" /></div>
        </div>
    </div>
</div>